header {
  text-align: right;
}

body {
  text-align: center;
  font-family: Source Sans Pro;
}

h2 {
  font-family: Source Sans Pro;
  font-weight: 200;
}

p {
  padding-bottom: 200px;
}

.background {
  background: url(https://www.bankjoy.com/assets/images/backgrounds/background.jpg) no-repeat center center fixed;
  position: relative;
  background-size: cover;
}

.overlay {
  background-color: rgba(86,92,119,.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
